*{
    margin-bottom:0 ;
}
p{
    display: inline-block;
}
h2{
    display: inline-block;
}
#wrapper{
    width: 70%;
    margin: auto;
}
.randomStudent{
    display: inline-block;
}
.placeholderImg{
    display: inline-block;
    width: 250px;
    height: 200px;
}
#personTxt{
    width: 50%;
    display: inline-block;
}