<div id="random">
	<h1>MD2 leerlingen app</h1>
	<p>Random leerling:</p><div id="shuffle">shuffle</div><br>
	<img src="img/placeholder.png" alt=""class="placeholderImg"> <div id="personTxt"><h2>Voornaam Achternaam</h2><p>
    Voornaam is een leerling van 190 cm. Hij zit in klas MD2A en behoort tot het geslacht man.
    Zijn ogen zijn blauw.</p></div><br>

    <div class="container"></div>
	<script>
    	var students = <?php echo json_encode($rows); ?>;
        console.table(students);
	</script>
	<script id="students-template" type="text/x-handlebars-template">


    	<p data-id="{{id}}"> {{Firstname}} {{Lastname}} is {{Age}} years old</p>

	</script>
</div>
